<!DOCTYPE html>
<html lang="en">
<head>
    <title>Book & Coffee</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <img class="logo" src="https://i.ibb.co/kdztGbj/photo-2025-02-16-16-39-58.jpg" alt="Cafe Logo">
    <h1>Welcome to Book & Coffee</h1>
    <button onclick="window.location.href='/menu'">📜 Menu</button>
    <button onclick="window.location.href='/books'">📚 Books</button>
    <button onclick="window.location.href='/contact'">📞 Contact</button>
</body>
</html>
